@import url('../../global.css');

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-trigger {
  cursor: pointer;
  background: black;
  color: white;
  border: 1px solid black;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close {
  position: absolute;
  background: none;
  color: black;
  border: none;
  padding: 0;
  /* font: inherit; */
  font-size: 15px;
  cursor: pointer;
  /* outline: inherit; */
  right: 10px;
  top: 10px;
}
